.registration-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  .signUpForm {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-items: flex-start;
  }
  .form-group {
    margin-bottom: 10px;
  }
  
  .small-label {
    display: inline-block;
    width: 200px;
  }
  
  .big-label {
    display: inline-block;
    width: 250px;
  }
  
  .signUpInput {
    margin-left: 0px;
    
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
     margin-left: -35px; 
    gap: 15px; 
  }
  
  .signUpHeadingH1{
    margin-left: -60px;
  }
  