.CCPDivMain{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    /* margin-left: 40%; */
}
.CCPbtns{
    margin-top: 20px;
    margin-left: 30%;
}
.CCPbtns2{
    margin-top: 20px;
    margin-left: 40px;
}
.emailLabel{
    margin-left: 56px;
}