.resetPasswordDivMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15%;
}
.resetPasswordForm {
    display: flex;
    flex-direction: column;
  }
  
  .form-group-.resetPasswordForm {
  display: flex;
  flex-direction: column;
}

.form-group-resetPassword {
  margin-bottom: 10px;
  margin-left: -40%;
}

.form-label-resetPassword{
  display: inline-block;
  width: 120px;
}

.form-input-resetPassword {
  width: 200px;
  margin-left: 10px;
}

.btn-resetPassword {
  margin-top: 10px;
  margin-left: -10px;
}

  