.ShowSLMainDiv{
    display: flex;
    flex-direction: column;
    margin-left: 25%;
}
.ShowSLHeadingH1{
    margin-left: 25%;
}
.ShowSLTableDiv{
    display: flex;
    flex-direction: column;
    margin-left: 15%;
    margin-right: 390px;
}
.ShowSLProducts{
    margin-left: -7%;
}
.ShowSLTable{
    width: 100%;
    border-collapse: collapse;
}

.ShowShoppingListTh{
   padding: 8px;
   text-align: left;
   border-bottom: 1px solid #ddd;
  background-color: #f2f2f2;
}

.ShowShoppingListTd{
    padding: 8px;
    text-align: right;
  border-bottom: 1px solid #ddd;
}
.ShowShoppingListsbtns{
    margin-bottom: 20px;
}